<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaCookieBar/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <div id="pxa-cookie-mess" class="{settings.wrapperClasses}{f:if(then: ' active-consent', else: 'passive-consent', condition: settings.disableCookies)}">
            <div class="cookie-warning">
                <div class="cookie-container">
                    <div class="cookie-row">
                        <f:if condition="{message}">
                            <f:then>
                                <f:format.html>{message}</f:format.html>
                            </f:then>
                            <f:else>
                                <p><f:translate key="pxacookiebar.message"/></p>
                            </f:else>
                        </f:if>

                        <f:if condition="{moretext}">
                            <f:then>
                                <pxa:link configuration="{parameter: page}" class="read-more">{moretext}</pxa:link>
                            </f:then>
                            <f:else>
                                <pxa:link configuration="{parameter: page}" targetBlank="{settings.targetBlank}" class="read-more"><f:translate key="pxacookiebar.readmore"/></pxa:link>
                            </f:else>
                        </f:if>

                        <f:if condition="{settings.disableCookies}">
                            <f:then>
                                <a id="accept-cookie" onClick="hide_cookie_warning('accept');"  class="agree-buttons"><f:translate key="pxacookiebar.accept"/></a>
                                <a id="decline-cookie" onClick="hide_cookie_warning(0);" class="agree-buttons"><f:translate key="pxacookiebar.decline"/></a>
                            </f:then>
                            <f:else>
                                <a class="btn-close" onClick="hide_cookie_warning(0);"><f:translate key="pxacookiebar.close_{settings.stylingVersion}"/></a>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</div>



