<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
 
   <f:if condition="{show} == 1">
    <div id="pxa-cookie-mess" class="top-message-wrap" style="display: block;">
        <div class="cookie-warning">
            <div class="cookie-container">
                <div class="cookie-row">
                        <p>
                            <f:if condition="{message}">
                                <f:then>
                                    {message}
                                </f:then>
                                <f:else>
                                    <f:translate key="pxacookiebar.message" />
                                </f:else>
                            </f:if>
                            <f:if condition="{moretext}">
                                <f:then>
                                    <f:if condition="{settings.targetBlank}">
                                        <f:then>
                                            <f:link.page pageUid="{page}" target="_blank">{moretext}</f:link.page>
                                        </f:then>
                                        <f:else>
                                            <f:link.page pageUid="{page}">{moretext}</f:link.page>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{settings.targetBlank}">
                                        <f:then>
                                            <f:link.page pageUid="{page}" target="_blank"><f:translate key="pxacookiebar.readmore" /></f:link.page>
                                        </f:then>
                                        <f:else>
                                            <f:link.page pageUid="{page}"><f:translate key="pxacookiebar.readmore" /></f:link.page>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        
                            <f:if condition="{settings.disableCookies} == 1">
                              <f:then>
                                <a id="accept-cookie" onClick="hide_cookie_warning('accept');" class="agree-buttons"><f:translate key="pxacookiebar.accept"/></a>
                                <a id="decline-cookie" onClick="hide_cookie_warning(0);" class="agree-buttons"><f:translate key="pxacookiebar.decline"/></a>
                              </f:then>
                              <f:else>
                                <a class="btn-close" onClick="hide_cookie_warning(0);">x</a>
                              </f:else>
                            </f:if>    
                                                    
                        </p>
               </div>
            </div>
        </div>
    </div>
    </f:if>
</f:section>