/*  Cookies Popup*/
#pxa-cookie-mess {
    width: 100%;
    color: #ffffff;
}

.top-message-wrap {
    top: 0;
    z-index: 200;
    position: static;
}

.bottom-message-wrap {
    bottom: 0;
    z-index: 2000;
    position: fixed;
}

#pxa-cookie-mess p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Arial;
    position: relative;
    margin-bottom: 0;
}
#pxa-cookie-mess.passive-consent p {
    padding-right: 20px;
    margin-right: 50px;
}
#pxa-cookie-mess .cookie-container {
    position: relative;
    padding: 0 20px;
}

#pxa-cookie-mess .cookie-container .btn-close {
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Arial;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 0;
    padding: 5px 6px 5px 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    color: #fff;
    background-color: #4AA74D;
    text-transform: uppercase;
}

#pxa-cookie-mess .cookie-container .btn-close:hover {
    padding: 5px 6px 5px 6px;
    color: #000000;

}

#pxa-cookie-mess .cookie-container .agree-buttons {
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Arial;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 0;
    padding: 5px 17px;
    position: relative;
    top: 6px;
    text-align: center;
    margin-bottom: 20px;
}
#pxa-cookie-mess .cookie-container .read-more + .agree-buttons {
    margin-left: 55px;
}
#pxa-cookie-mess .cookie-container #accept-cookie {
    color: #fff;
    background-color: #4AA74D;
}

#pxa-cookie-mess .cookie-container #accept-cookie:hover {
    color: black;
}

#pxa-cookie-mess .cookie-container #decline-cookie {
    color: #fff;
    background-color: #dc0432;
    margin-left: 10px;
}

#pxa-cookie-mess .cookie-container #decline-cookie:hover {
    color: black;
}

#pxa-cookie-mess .cookie-warning {
    padding: 10px 0 8px 0;
    background-color: black;
    border-bottom: 1px solid #dc0432;
}

#pxa-cookie-mess.active-consent .cookie-warning {
    padding-bottom: 0;
}

#pxa-cookie-mess .cookie-warning .close {
    margin: 2px 0 0 10px;
    font-size: 16px;
}

#pxa-cookie-mess a {
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Arial;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

#pxa-cookie-mess a:hover {
    color: #dc0432;
    text-decoration: underline;
}

@media (max-width: 767px) {
    #pxa-cookie-mess .cookie-container .btn-close {
        bottom: 12px;
        top: inherit;
    }

    #pxa-cookie-mess.passive-consent p {
        margin-right: 40px;
    }

    #pxa-cookie-mess .cookie-container .read-more + .agree-buttons {
        margin-left: 28px;
    }
}
@media (max-width: 400px) {
         #pxa-cookie-mess .cookie-container .read-more + .agree-buttons {
            margin-left: 0;
            display: block;

    }
        #pxa-cookie-mess .cookie-container #decline-cookie {
            margin-left: 0;
            width: 100%
}


}
